@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

:root{
  --hover-bg: rgb(65, 223, 7);
  --hover-color: black;
}

body{
  font-family: "VT323", monospace;
  background: rgb(255, 255, 255);
}

p{
  line-height: 0.8;
}
.text-scrumble{
  font-size: 20px;
  line-height: 0.8;
}
canvas{
  display: block;
  width: 100%;
  height: 100%;
}

.hero{
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: white;
}
.button-hero{
  width: fit-content;
  text-align: start;
}
@media (min-width: 768px) {
.button-hero:hover{
  background: var(--hover-bg);
  color: var(--hover-color);
}
p{
  font-size: 20px;
  line-height: 0.8;
}
}